@mixin column($count, $total) {
  flex: 1 percentage($count/$total);
}
@mixin columns($prefix, $count) {
  @for $i from 1 through $count {
    #{$prefix}-#{$i} {
      @include column($i, $count);
    }
  }
}
@mixin columnOffset($count, $total) {
  margin-left: percentage($count/$total);
}
@mixin columnsOffsets($prefix, $count) {
  @for $i from 1 through $count {
    #{$prefix}-#{$i} {
      @include columnOffset($i, $count);
    }
  }
}
$column-count: 12;
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@include columns(".column", $column-count);
@include columnsOffsets(".column-offset", $column-count);
@include columns(".column-xs", $column-count);
@media(min-width: 480px) { @include columns(".column-sm", $column-count); }
@media(min-width: 768px) { @include columns(".column-md", $column-count); }
@media(min-width: 1024px) { @include columns(".column-lg", $column-count); }
@media(min-width: 1600px) { @include columns(".column-xl", $column-count); }
